@media screen and (min-width: 320px) {
  .whyChooseUs__section {
    height: 50%;
  }
  #arrow {
    width: 10%;
  }
}

@media screen and (min-width: 375px) {
  .main {
    height: 520px;
  }
  .main__img img {
    position: absolute;
    bottom: 0px;
    right: -80px;
    width: 100%;
    z-index: -1;
  }
  .main__title {
    font-size: 30px;
  }
  .main__text {
    font-size: 13px;
  }
  .slider-item {
    width: 40%;
  }
  .img__wrapper {
    width: 60%;
  }
  .item__img-wrapper {
    height: 110px;
  }
  .card__title {
    font-size: 15px;
  }
  .card__text {
    font-size: 9px;
  }
  .item__title {
    font-size: 15px;
  }
  .item__text {
    font-size: 11px;
  }
  #package_left {
    left: 269px;
  }
  #package_right_min {
    top: 271px;
  }
}

@media screen and (min-width: 440px) {
  .main {
    height: 560px;
  }
  .main__title {
    font-size: 34px;
    margin-bottom: 25px;
  }
  .main__text {
    font-size: 14px;
    margin-bottom: 25px;
  }
  .swiper__title {
    font-size: 26px;
  }
  .services__title {
    font-size: 26px;
    margin-bottom: 30px;
  }
  .slider-item {
    width: 36%;
  }
  .img__wrapper {
    width: 55%;
  }
  .card__title {
    font-size: 16px;
  }
  .card__text {
    font-size: 11px;
  }
  .slider-wrapper {
    height: 320px !important;
  }
  .item__img-wrapper {
    height: 130px;
  }
  .item__title {
    font-size: 17px;
  }
  .item__text {
    font-size: 13px;
  }
  .item__btn {
    padding: 6px 8px;
    font-size: 12px;
    margin-bottom: 15px;
  }
  #package_left {
    left: 320px;
    top: 229px;
  }
  #package_right_min {
    top: 317px;
    left: 107px;
  }
}

@media screen and (min-width: 500px) {
  .main {
    height: 600px;
  }
  .burger__menu-wrapper {
    width: 6%;
  }
  .main__wrapper {
    margin-top: 60px;
  }
  .main__title {
    font-size: 38px;
    margin-bottom: 20px;
  }
  .main__text {
    font-size: 16px;
    margin-bottom: 25px;
  }
  .main__btn {
    padding: 8px 18px;
    font-size: 16px;
  }
  .slider-item {
    width: 34%;
  }
  .item__img-wrapper {
    height: 140px;
  }
  #arrow {
    width: 7%;
  }
}

@media screen and (min-width: 550px) {
  .main {
    height: 720px;
    margin-bottom: 80px;
  }
  .logo__wrapper {
    width: 28%;
  }
  .main__title {
    font-size: 42px;
    margin-bottom: 28px;
  }
  .main__text {
    font-size: 16px;
    margin-bottom: 34px;
  }
  .main__btn {
    padding: 8px 18px;
    font-size: 16px;
  }
  .item__img-wrapper {
    height: 160px;
  }
  .swiper__title {
    font-size: 28px;
  }
  .services__title {
    font-size: 28px;
    margin-bottom: 50px;
  }
  .whyChooseUs__section {
    height: 420px;
  }
  .slider-item {
    top: -25px;
  }
  .item__title {
    font-size: 18px;
  }
  .item__text {
    font-size: 14px;
    margin-bottom: 10px;
  }

  #package_left {
    left: 425px;
    top: 250px;
    width: 17%;
  }
  #package_right {
    top: -12px;
    left: -5px;
    width: 13%;
  }
  #package_right_min {
    top: 359px;
    left: 107px;
    width: 13%;
  }
}

@media screen and (min-width: 600px) {
  .img__wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__text {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .slider-item {
    width: 34%;
    padding: 15px 10px;
    top: -80px;
  }
  .slider-wrapper {
    height: 420px !important;
  }
  .item__title {
    margin-left: 10px;
  }
  .item__text {
    margin-left: 10px;
  }
  .item__btn {
    margin-left: 10px;
  }
}

@media screen and (min-width: 650px) {
  .header {
    height: 80px;
  }
  .main {
    height: 800px;
    margin-bottom: 80px;
  }
  .main__wrapper {
    margin-top: 100px;
  }
  .main__img img {
    right: -120px;
  }
  .logo__wrapper {
    width: 25%;
  }
  .main__title {
    font-size: 46px;
    margin-bottom: 26px;
  }
  .main__text {
    font-size: 18px;
    margin-bottom: 34px;
  }
  .main__btn {
    padding: 10px 24px;
    font-size: 18px;
  }
  .slider-item {
    width: 30%;
  }
  .item__img-wrapper {
    height: 160px;
  }
  .item__title {
    font-size: 20px;
  }
  .item__text {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .item__btn {
    padding: 8px 12px;
    font-size: 14px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 710px) {
  .main {
  }
  .burger__menu-wrapper {
    width: 5%;
  }
  .main__wrapper {
    margin-top: 60px;
  }
  .main__title {
    font-size: 52px;
    font-weight: 700;
  }
  .swiper__title {
    font-size: 32px;
  }
  .services__title {
    font-size: 32px;
    margin-bottom: 50px;
  }
  .navigation__item a {
    font-size: 16px;
  }
  .navigation__item {
    margin-bottom: 4px;
  }
  .slider-item {
    width: 30%;
    padding: 12px 10px;
  }
  .img__wrapper {
    width: 50%;
  }
  .card__title {
    font-size: 22px;
  }
  .card__text {
    font-size: 14px;
    margin-bottom: 0;
  }
  .item__img-wrapper {
    height: 180px;
  }
  #package_left {
    left: 554px;
    top: 250px;
    width: 14%;
  }
  #package_right {
    top: -12px;
    left: -5px;
    width: 11%;
  }
  #package_right_min {
    top: 356px;
    left: 212px;
    width: 11%;
  }
}

@media screen and (min-width: 768px) {
  .header {
    height: 120px;
  }
  .logo__wrapper {
    width: 22%;
  }
  .main {
    height: 880px;
  }
  .main__wrapper {
    margin-top: 50px;
  }
  .main__title {
    font-size: 55px;
  }
  .main__text {
    font-size: 20px;
  }
  .burger-list {
    top: -20px;
  }
  .navigation__item a {
    font-size: 18px;
  }
  .swiper__title {
    font-size: 36px;
  }
  .services__title {
    font-size: 36px;
  }
  .whyChooseUs__section {
    height: 600px;
  }
  .slider-wrapper {
    height: 560px !important;
  }
  .slider-item {
    width: 32%;
    padding: 15px 4px;
  }
  .card__title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .card__text {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    font-size: 14px;
  }
  .services__list {
    justify-content: space-around;
  }
  .services__item {
    width: 40%;
    margin-bottom: 40px;
  }
  .item__img-wrapper {
    height: 190px;
  }
  .item__title {
    font-size: 22px;
  }
  .item__text {
    font-size: 18px;
  }
  .item__btn {
    padding: 8px 14px;
  }
}

@media screen and (min-width: 800px) {
  .burger__menu-wrapper {
    width: 4%;
  }
  .burger-list {
    top: -30px;
  }
  .logo__wrapper {
    width: 20%;
  }
  #package_left {
    left: 644px;
    top: 298px;
    width: 14%;
  }
}

@media screen and (min-width: 850px) {
  .main {
    height: 980px;
  }
  .main__title {
    font-size: 62px;
  }
  .main__text {
    font-size: 22px;
  }
  .main__btn {
    padding: 14px 30px;
    font-size: 22px;
  }
}

@media screen and (min-width: 900px) {
  .main__title {
    font-size: 66px;
  }
  .card__text {
    width: 90%;
  }
  .img__wrapper {
    width: 55%;
  }
  .services__item {
    width: 35%;
  }
  #arrow {
    width: 5%;
  }
  #package_left {
    left: 744px;
    top: 375px;
  }
  #package_right {
    top: -34px;
    left: 38px;
  }
  #package_right_min {
    top: 470px;
    left: 224px;
  }
}

@media screen and (min-width: 980px) {
  .main {
    height: 1000px;
  }
  .slider-item {
    width: 28%;
  }
  .services__item {
    width: 35%;
  }
}

@media screen and (min-width: 1024px) {
  .header__wrapper {
    position: relative;
    height: 100vh;
    margin-bottom: 100px;
  }
  .header {
    height: 12%;
  }
  .container2 {
    height: auto;
  }
  .logo__wrapper {
    width: 12%;
  }
  .burger__menu-wrapper {
    display: none;
  }
  .nav__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav__btn {
    display: block;
  }
  .main {
    height: 90%;
  }
  .main__wrapper {
    margin-top: 0px;
    padding-top: 20px;
  }
  .main__title {
    font-size: 46px;
    margin-bottom: 10px;
  }
  .main__text {
    width: 46%;
    font-size: 16px;
    margin-bottom: 15px;
  }
  .main__btn {
    padding: 8px 22px;
    font-size: 16px;
    border-radius: 10px;
  }
  .main__img {
    width: 80%;
  }
  .main__img img {
    bottom: 0px;
    right: -150px;
  }

  .whyChooseUs__section {
    height: 500px;
  }
  .wcu__block {
    display: block;
  }
  .slider-wrapper {
    display: none;
  }
  .card__title {
    font-size: 20px;
  }
  .card__text {
    font-size: 12px;
  }

  .services {
    margin-top: 60px;
  }
  .services__wrapper {
    width: 95%;
    margin: 0 auto;
  }
  .services__item {
    width: 28%;
    margin-bottom: 60px;
  }
  #package_left {
    left: 122px;
    top: 289px;
    width: 8%;
  }
  #package_right {
    left: 566px;
    top: 10px;
    width: 6%;
  }
  #package_right_min {
    top: 400px;
    left: 283px;
    width: 6%;
  }
}

@media screen and (min-width: 1150px) {
  .main__img {
    width: 72%;
  }
  .main__img img {
    bottom: 0;
    right: -130px;
  }
  .main__title {
    margin-top: 10px;
    line-height: 80px;
    font-size: 60px;
  }
  .wcu__item {
    width: 26%;
  }
}

@media screen and (min-width: 1200px) {
  .wcu__wrapper {
    margin-top: 55px;
    justify-content: space-around;
  }
  .wcu__item {
    width: 25%;
  }
  .whyChooseUs__section {
    height: 450px;
  }
  .services__item {
    width: 26%;
  }
  .services__list {
    width: 90%;
    margin: 0 auto;
  }
  #package_right {
    left: 744px;
  }
  #package_right_min {
    top: 432px;
    left: 341px;
  }
}

@media screen and (min-width: 1300px) {
  .main__title {
    font-size: 70px;
  }
  .main__text {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .wcu__wrapper {
    margin-top: 55px;
    justify-content: space-around;
  }
  .wcu__item {
    width: 24%;
  }
  .whyChooseUs__section {
    height: 450px;
  }
  .services__item {
    width: 26%;
  }
  #package_left {
    left: 122px;
    top: 349px;
    width: 7%;
  }
  #package_right {
    left: 854px;
    width: 5%;
  }
  #package_right_min {
    top: 482px;
    left: 393px;
    width: 5%;
  }
}

@media screen and (min-width: 1300px) {
  .main__title {
    font-size: 70px;
  }
  .main__text {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .wcu__wrapper {
    margin-top: 55px;
    justify-content: space-around;
  }
  .wcu__item {
    width: 22%;
  }
  .whyChooseUs__section {
    height: 450px;
  }
  .services__item {
    width: 26%;
  }

  .nav__item a {
    font-size: 19px;
  }
}

@media screen and (min-width: 1500px) {
  .main__title {
    font-size: 78px;
    margin-top: 40px;
    margin-bottom: 15px;
  }
  .main__text {
    margin-bottom: 25px;
  }
  .main__btn {
    padding: 10px 20px;
    font-size: 20px;
  }
  .nav__btn {
    padding: 10px 24px;
    font-size: 18px;
    border-radius: 15px;
  }
  .services__list {
    justify-content: space-evenly;
  }
  .item__title {
    font-size: 28px;
  }
  .item__text {
    font-size: 20px;
  }
  .item__btn {
    padding: 10px 15px;
    font-size: 18px;
  }
  .swiper__title {
    font-size: 55px;
  }
  .services__title {
    font-size: 55px;
  }
  .whyChooseUs__section {
    height: 600px;
  }
}

@media screen and (min-width: 1600px) {
  .main__title {
    font-size: 84px;
    margin-top: 35px;
    margin-bottom: 15px;
  }
  .main__text {
    width: 45%;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 1700px) {
  .main__title {
    font-size: 84px;
    margin-top: 35px;
    margin-bottom: 15px;
  }
  .main__text {
    width: 45%;
    margin-bottom: 25px;
  }
  .item__img-wrapper {
    height: 235px;
  }
  .main__img {
    width: 65%;
  }
  .main__img img {
    bottom: 0;
    right: -130px;
  }
}

@media screen and (min-width: 1800px) {
  .nav__item a {
    font-size: 22px;
  }
  .nav__btn {
    padding: 10px 22px;
    font-size: 22px;
  }
  .main__title {
    font-size: 90px;
    margin-top: 15px;
    margin-bottom: 35px;
    line-height: 105px;
  }
  .main__text {
    width: 45%;
    font-size: 28px;
    margin-bottom: 30px;
  }
  .main__btn {
    font-size: 26px;
  }
}

@media screen and (min-width: 1900px) {
  .wcu__wrapper {
    width: 75%;
  }
  .wcu__item {
    width: 24%;
    padding: 40px 5px;
  }
  .img__wrapper {
    width: 45%;
  }
  .whyChooseUs__section {
    height: 520px;
  }
  .services {
    margin-top: 140px;
  }
  .services__wrapper {
    width: 85%;
  }
}

/* adaptive olesya*/

@media screen and (min-width: 400px) {
  .contact {
    width: 43%;
    font-size: 0.7rem;
  }

  .line {
    height: 5px;
  }
}

@media screen and (min-width: 480px) {
  .contact {
    width: 43%;
    font-size: 0.7rem;
  }

  .line {
    height: 7px;
  }
}

@media screen and (min-width: 534px) {
  .tariffs h5 {
    font-size: 25px;
  }

  .tariffs ul {
    font-size: 25px;
  }

  .name h3 {
    font-size: 2rem;
  }

  .footer_logo img {
    width: 25%;
  }

  .works {
    font-size: 15px;
  }
}

@media screen and (min-width: 536px) {
  #vector1 {
    display: none;
  }
  #vector2 {
    display: none;
  }

  .work {
    width: 22%;
    display: flex;
    font-size: small;
  }

  .line {
    height: 5px;
    width: 8%;
  }
  .elem3 {
    display: none;
  }

  #line_2 {
    display: none;
  }

  #line2_3 {
    display: block;
  }

  #line4_5 {
    display: block;
  }

  #vector4 {
    width: 10%;
    display: block;
    position: relative;
    bottom: -30px;
  }

  #vector5 {
    width: 10%;
    display: block;
    position: relative;
    top: -37px;
  }
}

@media screen and (min-width: 536px) {
  #vector4 {
    bottom: -40px;
  }

  .contact {
    width: 46%;
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 700px) {
  .name h3 {
    font-size: 2.4rem;
  }
  .contact {
    width: 46.5%;
    font-size: 1rem;
  }
}

@media screen and (min-width: 720px) {
  .work {
    width: 24%;
    font-size: small;
  }
  #vector5 {
    top: -33px;
  }
  .line {
    height: 5px;
    width: 8%;
  }
}

@media screen and (min-width: 750px) {
  #vector5 {
    top: -20px;
  }
}

@media screen and (min-width: 800px) {
  .work img {
    width: 40%;
  }
  .work p {
    margin-left: 15%;
  }

  .contact img {
    width: 13%;
  }
}

@media screen and (min-width: 950px) {
  .contact {
    width: 47%;
    font-size: 1.3rem;
  }
  .name h3 {
    font-size: 2.7rem;
  }
  .work p {
    font-size: smaller;
  }
  #vector4 {
    bottom: -50px;
  }
  #vector5 {
    top: -40px;
  }
  .footer_logo img {
    width: 20%;
  }
}

@media screen and (min-width: 1000px) {
  .tariffs_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1%;
  }
  .contact {
    width: 47.8%;
  }
  .tariffs {
    width: 47%;
    margin-bottom: 0;
  }
  .tariffs:first-child {
    height: 50%;
  }
  #vector4 {
    width: 12%;
  }
  #vector5 {
    width: 12%;
  }
  .work p {
    font-size: 17px;
  }
}

@media screen and (min-width: 1073px) {
  .tariffs:first-child {
    height: 548px;
  }
}

@media screen and (min-width: 1096px) {
  .container_contacts {
    display: flex;
    margin-top: 5%;
  }
  .contacts {
    width: 50%;
  }
  .contact {
    width: 100%;
  }
  .contact img {
    width: 17%;
  }
  .line {
    height: 7px;
  }
  .footer_logo img {
    width: 15%;
  }
}

@media screen and (min-width: 1113px) {
  .tariffs:first-child {
    height: 470px;
  }
}

@media screen and (min-width: 1245px) {
  #vector4 {
    right: 106px;
    bottom: -59px;
  }
  #vector5 {
    left: 63px;
    top: -38px;
  }
  .long_line {
    display: block;
    width: 10%;
  }
  .line {
    display: none;
  }
  #line2_3 {
    display: none;
  }
  #line4_5 {
    display: none;
  }
  .work {
    width: 20%;
  }
  .tariffs:first-child {
    height: 646px;
  }
  .tariffs ul {
    font-size: 30px;
    font-weight: 300;
  }
}

@media screen and (min-width: 1317px) {
  .tariffs:first-child {
    height: 597px;
  }
}

@media screen and (min-width: 1400px) {
  .tariffs:first-child {
    height: 555px;
  }
}
